<div class="container">
  <div class="row">
    <h1>推特後台</h1>
    <div class="panel-tweet">
      <% @recent_tweets.each do |t| %>   
      <p><%= f.user_id %></p>
      <p><%= f.description %></p>
    </div>
  </div>
  
</div>
