<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <%= link_to 'Tweets', admin_root_path %>
      </li>
      <li role="presentation">
        <%= link_to 'Users', admin_users_path %>
      </li>
    </ul>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
      
    <% @tweets.each do |tweet| %>
      <div class="col-md-6">
        <%= render partial: "shared/tweet", locals: {tweet: tweet} %>
      </div>
    <% end %>

  </div>
</div>