<h1>推特後台</h1>

<ul>
  <% @tweets.each do |tweet| %>
  <li>
    <%= tweet.description %>
    <%= link_to 'Delete', admin_tweet_path(tweet), method: :delete, data: {confirm:"Are you sure?"} %>
  </li>
  <% end %>
</ul>