<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% @tweets.each do |tweet| %>
        <li>
          <%= tweet.description %>
          <%= tweet.user.name %>
          <%= link_to 'Delete', admin_tweet_path(tweet), method: :delete, data: {confirm:"Are you sure?"} %>
        </li>
      <% end %>
    </div>
  </div>
</div>
