<h1>admin controller</h1>
<ul>
  <% @tweets.each do |t| %>
    <%= t.description %>
    <%= t.created_at %>
    <%= link_to "Delete",admin_tweet_path(t), method: :delete, data:{confirm:'Are you sure?'}%>
  <% end %>
</ul>

<%= link_to "Front End",tweets_path %>