<div class="row justify-content-md-center mb-3">
  <div class="col-md-8">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to "User List", admin_users_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Tweet List", admin_tweets_path, class: "nav-link active" %>
      </li>
    </ul>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-md-8">
    tweet index
  </div>
</div>
