<h1>餐廳後台</h1>
<ul>
  <% @tweets.each do |tweet| %>
    <li>
      <%= tweet.description %>
      <%= tweet.user_id %>
      <%= link_to 'Show', admin_tweet_path(tweet) %>
      <%= link_to 'Delete', admin_tweet_path(tweet), method: :delete, data: {confirm:"Are you sure?"} %>
    </li>
  <% end %>
</ul>

<ul>

</ul>
