<div class="container-fluid admin-index">
  <h2 class="reply-head text-center"><strong>Tweets 後台</strong></h2>
  <!-- Nav-tabs /start -->
  <ul class="nav nav-tabs container">
    <li role="presentation" class="active">
      <%= link_to "Tweet List", admin_root_path %>
    </li>
    <li role="presentation">
      <%= link_to "Tweet List", admin_users_path %>
    </li>
  </ul>
  <!-- Nav-tabs /end -->
  
  <!-- Tweet List -->
  <%= render partial: "shared/tweets", locals: {tweets: @tweets} %>

</div>