<h1>Back End: tweets</h1>
<%= link_to 'To user dashboard', admin_users_path %>
<!-- show tweets -->
<% @tweets.each do |tweet| %>
  <%= render partial: "shared/message", locals: {message: tweet, is_tweet: true} %>
<% end %>
<div class="text-center"><%= paginate @tweets %></div>