<ul class="nav nav-pills style-pills">
  <li role="presentation" class="active"><%= link_to "Tweets", admin_tweets_path %></li>
  <li role="presentation"><%= link_to "Users", admin_users_path %></li>
</ul>
<hr>

<% @tweets.each do |tweet| %>
  <div class="tweet-box">
    <%= render partial: "shared/tweets", locals: { tweet: tweet } %>
  </div>
<% end %>
