<div class="container">
  <h1>Admin Panel</h1>
  <div class="row">
    <!-- 使用 Bootstrap components 的 Nav Tabs -->
    <!-- https://getbootstrap.com/docs/3.3/components/#nav-tabs -->
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <%= link_to '推播管理', admin_tweets_path %>
      </li>
      <li role="presentation">
        <%= link_to '使用者管理', admin_users_path %>
      </li>
    </ul>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div>
      <% @tweets.each do |tweet| %>
        <%= render partial: "shared/admin_tweet_wall", locals: {tweet: tweet} %>
      <% end %>
    </div>

    <div class="text-center">
      <%= paginate @tweets %>
    </div>
  </div>
</div>