<div class="container">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="../admin/tweets">推特管理</a></li>
    <li role="presentation"><a href="../admin/users">用戶列表</a></li>
  </ul>
  <br>
  

      <% @tweets.each do |tweet| %>
        <div class="col-md-6 col-lg-6">  
          <%= render partial: "shared/tweet_template", locals: {tweet: tweet} %>
        </div>
      <% end %> 
  <%= paginate @tweets %>
</div>