<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <%= link_to 'Simple Twitter', tweets_path , class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-sm-end" id="navbarSupportedContent">
    <% if user_signed_in? %>
      <ul class="navbar-nav right">
        <li class="nav-item">
          <% if current_user.avatar? %>
            <%= link_to current_user.avatar, edit_user_path(current_user), class: 'nav-link'%>
          <% else %>
            <%= link_to current_user.name, edit_user_path(current_user), class: 'nav-link'%>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to 'Log Out', destroy_user_session_path , method: :delete, class: "nav-link" %>
        </li>    
      </ul>
    <% end %>   
  </div>
</nav> 
