<div class="row user-box">
  <div class="row">
    <div class="col-xs-5 center">
      
        <%= link_to "#" do %>
          <img src="http://via.placeholder.com/100x100" class="img-circle user-img">
        <% end %>
      
    </div>
    <div class="col-xs-7">
      <div class="row">
        <%= user.name %>
      </div>
      <div class="row intro">
        <%= user.introduction %>
      </div>
      <div class="row">
        <%= link_to "Follow", "#" %>
      </div>
    </div>
  </div>
</div>




