<div class="reply-item">
  <!-- Left -->
  <div class="reply-item reply-avatar">
    <%= image_tag reply.user.avatar.url, size: "150x150", class: "img-responsive" %>
  </div>
  <!-- Right -->
  <div class="reply-item reply-texts">
    <!-- @username, create time -->
    <p><%= reply.user.name %>, <%= reply.created_at %></p>
    <!-- reply description -->
    <p><%= reply.comment%></p>
  </div>
</div>