<div class="row">
  <!-- user profile -->
  <div class="col-xs-3">
    
  </div>

  <!-- tweets -->
  <div class="col-xs-9">
    <h1>Tweets</h1>
    <%= render partial: "shared/tweet", locals: {tweet: @tweet} %>
  </div>
</div>