<h6>這是 reply 的首頁</h6>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= @user.name %>
    </div>
    
    <div class="col-md-8">
      <h2>Tweets</h2>
        <%= @tweet.description %>
      <h2>Replies</h2>
      <ul>
        <% @replies.each do |reply| %>
        <li>
          <%= reply.comment %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>