<div class="row">
  <!-- user profile -->
  <div class="col-xs-3">
    
  </div>

  <!-- tweets -->
  <div class="col-xs-9">
    <h1>Tweets</h1>
    <%= render partial: "shared/message", locals: {message: @tweet, is_tweet: true} %>
    <h1>Replies</h1>
    <% @tweet.replies.each do |reply| %>
      <%= render partial: "shared/message", locals: {message: reply, is_tweet: false} %>
    <% end %>
  </div>
</div>