<div class="row">
  <!-- user profile -->
  <div class="col-xs-3">
    
  </div>

  <!-- tweets -->
  <div class="col-xs-9">
    <h1>Tweets</h1>
    <%= render partial: "shared/tweet", locals: {tweet: @tweet} %>
    <h1>Replies</h1>
    <% @tweet.replies.each do |reply| %>
      <div class="row tweet-box">
        <div class="col-xs-3">
          <div class="tweet-avatar">
            <%= image_tag(reply.user.avatar, class: "img-responsive center-block") %>
          </div>
        </div>
        <div class="col-xs-9">
          <p><%= "@#{reply.user.name}, #{reply.created_at}" %></p>
          <p><%= reply.comment %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>