<h1>Front-End</h1>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8" id="left-col">
      <div class="tweet-field">
        <p>這是輸入區塊</p>
        <p>發出推特的按鈕</p>
      </div>
      <div class="following-tweets">
        <p>這邊顯示追蹤的人，所發出的推特</p>
        <p>目前先顯示假資料</p>
        <% @tweets.each do |tweet| %>
           <div class="col-sm-6 col-md-4">
            <div class="all-tweet">
              <div class="caption">
                <p><%= tweet.description %></p>
                <p><%= tweet.user.email %></p>
              </div>
              
            </div>
          </div>  
        <% end %>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-md-8" id="right-col">
      <div class="popular">
        <p>顯示追蹤者前十多的使用者</p>
        <p>目前先顯示所有的使用者</p>
          <% @users.each do |user| %>
          <div class="user-item">
            <%= image_tag user.avatar, class: "img-responsive center-block" %>
            <div class="caption">
              <h2><%= user.name %></h2>
            </div>            
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>