<h1>user tweets index</h1>

<!-- User can create tweet here -->
<%= form_for @tweet do |f| %>
  <%= f.label :description, "Tweet Content" %>
  <%= f.text_area :description %>

  <%= f.submit %>
<% end %>
