<div class="container">
  <div class="col-sm-7">
    <div class="tweet-input">
      <%=simple_form_for @tweet do |f|%>
        <%= f.input :description,label: false ,placeholder:"whats on yout mind"%>
        <%= f.button :submit, 'Tweet',class:"btn btn-primary"%>
      <%end%>
    </div>
    <hr>
    <div class="index-tweet-content">
      <%= render partial:"common/tweetswall", locals:{tweets:@tweets} %>
    </div>
  </div>

  <div class="col-sm-5">

  </div>

</div>