<div class="container">
  <h1>Simple Twitter首頁</h1>

  <div class="row">
    
    <div class="col-7">
      <%= form_for @tweet do |f| %>
        <%= f.text_area :description, placeholder: "What's on your mind?", maxlength: 140, size: "65x8" %>
        <br>
        <%= f.submit %>
      <% end %>

      <%= render partial: "shared/tweet_view", locals: {tweets: @tweets} %>
    </div>

  </div>
</div>

