<div class="col-md-12">
        <div class="col-md-8">    
          
          <div class="form-group">
            <textarea>test</textarea>
            <button>Tweet</button>
          </div>
  
           <% @tweet.each do |tweet| %>

          <div class="tweet-item">
            <img src="http://via.placeholder.com/80x80" class="avatar">
            <%= link_to @tweet.user.name, tweet_user_path(@tweet.user) %>, 
            <span class="time">  <%= @tweet.created_at %> </span>
            <div class="content"><%= @tweet.description %></div>
            <%= link_to "Reply(@tweet.replies_count)", reply_tweet_path(@tweet) %> 
            <span class="like-info">like(2)</span>
          </div>
 
          <% end %>


        </div>

        <div class="col-md-4">
          <h3>popular</h3>
          
          <div class="user-item">
             <img src="http://via.placeholder.com/80x80" class="avatar">
             <a href="#"> @username </a>
             <div class="descript"> user info </div>
             <button> Follow </button>

          </div>

        </div>


    </div>
  

  </div>


</div>
