    <div class="row">

      <div class="col-md-8 col-sm-12">

        <div class="card card-updates">
          <div class="card-block">
            <div class="card-tittle"><h4>What's new?</h4></div>
                <textarea class="form-control" style="padding: 0 0; height: 100px;" placeholder="Update your status"></textarea>
                <button class="btn btn-success pull-right" type="button">Post</button>
          </div>
        </div>

        <div class="card card-tweet">
          <div class="card-block">
            <div class="card-tittle"><p href="#" class="time-log pull-right">20 seconds ago</p><h5>Stackoverflow</h5>
            </div>
            <div class="card-text">
              <p>If you're looking for help with Bootstrap code, the <code>twitter-bootstrap</code> tag at <a href="http://stackoverflow.com/questions/tagged/twitter-bootstrap">Stackoverflow</a> is a good place to find answers.</p>
              <hr>
            </div>
            <form>
              <div class="input-group">
                <button class="btn btn-secondary"><i class="far fa-thumbs-up"></i>(5)</button>
                <button class="btn btn-secondary"><i class="far fa-comment-alt"></i>(5)</button>
                <button class="btn btn-secondary"><i class="far fa-share-square"></i></button>
              </div>
            </form>
         </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="card card-tweet">
          <div class="card-block">
            <div class="card-tittle"><a href="#" class="pull-right">View all</a><h5>Stackoverflow</h5></div>
            <div class="card-text">
              <p>If you're looking for help with Bootstrap code, the <code>twitter-bootstrap</code> tag at <a href="http://stackoverflow.com/questions/tagged/twitter-bootstrap">Stackoverflow</a> is a good place to find answers.</p>
              <hr>
            </div>
            <form>
              <div class="input-group">
                <button class="btn btn-secondary"><i class="far fa-thumbs-up"></i>(5)</button>
                <button class="btn btn-secondary"><i class="far fa-comment-alt"></i>(5)</button>
              </div>
            </form>
            </div>
         </div>
      </div>

    </div>