<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <%= form_for @tweet do |f| %>
      <div class="form-group">
        <%= f.text_area :description, class: "form-control", placeholder:"What's on your mind?" %>
        <br/>
        <em><%= f.submit "Tweet" , class: 'button-style navbar-right' %></em>
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      
    </div>
    <% end %>
  </div>
</div>