<%= form_for @tweet do |f| -%>
  <div class="form-group">
        <%= f.text_area :description, placeholder: "What's on your minds?", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "Tweet",class: "btn btn-primary" %>
      </div>
<% end %>