<div class="container">
  <div class="row">
    <div class="col-md-8">
      <%= form_for @tweet do |f| %>
      <div class="form-group">
        <%= f.text_area :description, placeholder: "What's on your mind?", class: "form-control"%>
      </div>
      <div class="form-group button-group">
        <%= f.submit "Tweet", class: "btn btn-info" %>
        <%= f.button "Cancel", type: :reset, class: "btn btn-info" %>
      </div>
    <% end %>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
