<div class ="row" >
  <div class="col-sm-7 ">
    <div class="col-xs-12 tweets-form">
      <%= render partial: "form" %>
    </div>
    <div class="speak  col-xs-12"">
      
      <% @tweets.each do |tweet| %>
        <%= render partial: 'shared/master',locals: {tweet: tweet, tweet_des: tweet.description, tweet_time: tweet.created_at }%>
      <% end %>
    
    </div>

   

  </div>

  <div class="col-sm-5 ">
    <%= @tweets%>



  </div>
</div>