<div class="container">

  <h1>前台首頁</h1>

  <!-- 新增推文失敗的錯誤提示 -->
  <% if @tweet.errors.any? %>
    <%= @tweet.errors.full_messages.to_sentence %>
  <% end %>

  <!-- 新增推文表格 -->
  <%= form_for @tweet do |f| %>
      <%= f.text_area :description %>
      <%= f.submit %>
  <% end %>

</div>