<%= form_for(@tweet) do |f| %>
  <div class="form-group">
    <%= f.text_area :description, placeholder: "What's on your mind?" %>
  </div>
  <div class="form-group">
    <%= f.submit "Tweet", :disable_with => 'Tweeting...' %>
  </div>
<% end %>

<div class="tweets">
  <% @tweets.each do |tweet| %>
    <%= render partial: "shared/tweet", locals: {tweet: tweet} %>
  <% end %>
</div>
