<!-- 左半部 -->
<div class="container">
  <div class="row">
<!-- 新增tweet區 -->
    <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
      <%= form_for @tweet do |f| %>
        <div class="form-group">
          <%= f.text_area :description, placeholder: "What's on your mind?", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit "Tweet", class: "btn btn-primary" %>
        </div>
      <% end %>
<!-- 顯示tweets區 -->
<% @tweets.each do |tweet| %>
  <%= render partial: "shared/tweeter", locals: {tweeter: tweet}%>
<% end %> 
<!-- 右半部 -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
      <!-- popular -->
    </div>
  </div>
</div>