<h1>Front-End</h1>
<br>

<div class="left-col">
  <div class="tweet-field">
    <p>這是輸入區塊</p>
    <p>發出推特的按鈕</p>
  </div>
  <div class="following-tweets">
    <p>這邊顯示追蹤的人，所發出的推特</p>
  </div>
</div>
<div class="right-col">
  <div class="popular">
    <p>顯示追蹤者前十多的使用者</p>
  </div>
</div>