<h3>front</h3>
<%= form_for @tweet do |f| %>
  <%= f.text_area :description %>
  <%= f.submit %>
<% end %>

<hr />

<h3>popular</h3>
<div>
  <ul>
    <% @users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
  </ul>
</div>
