<div class="container">
  <div class="col-md-12">
    <div class="col-md-7">
      <%= form_for @tweet do |f| %>
        <div class="field">
          <%= f.text_area :description, placeholder:"What's on your mind ?", class:"form-control", rows:"5"%>
        </div>
        
        <div class="index-tweetbtn">
          <%= f.submit "發表推特",class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
    
    <div class="clearfix"></div>

    <div class="col-md-7">
      <%= render partial:"shared/tweet_content" %>
    </div>


  </div>
</div>


