<h1>Tweets 前台</h1>

<%= form_for @tweet do |f| %>
  <%= f.text_area :description, placeholder: "What's on your mind?" %>
  <%= f.submit "Tweet" %>
<% end %>


<h2>分隔線</h2>

<%= render partial: "shared/tweets"%>
