<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-thumbnail" /> 
            
			<p><a>
				username
			</a></p>
			<ul>
				<li>
					tweets
				</li>
				<li>
					following
				</li>
                <li>
					follower
				</li>
                <li>
					like
				</li>
				
			</ul> <a href="#" class="btn" type="button">edit profile</a>
		</div>
 
		<div class="col-md-9" style="padding-top:50px">
        <h3>Tweets</h3>
			<div class="row">
						<div class="col-md-12">
							<div class="row" style="margin-top:15px">
								<div class="col-md-2">
									<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-thumbnail" />
								</div>
								<div class="col-md-10">
									<h3 class="text-primary">
										djanfoinadfnadf
									</h3>
									<p>
										wqdknwkqlndqwnd
									</p>
									<div class="row">
										<div class="col-md-4">
											 <a href="#" class="btn" type="button">Reply(2)</a>
										</div>
										<div class="col-md-4">
                       <a href="#" class="btn" type="button">Like(7)</a>
										</div>
										<div class="col-md-4">
										</div>
									</div>
								</div>
							</div>
						</div>
			</div>
                    <h3>Replies</h3>
			<div class="row">
						<div class="col-md-12">
							<div class="row" style="margin-top:15px">
								<div class="col-md-2">
									<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-thumbnail" />
								</div>
								<div class="col-md-10">
									<h3 class="text-primary">
										djanfoinadfnadf
									</h3>
									<p>
										wqdknwkqlndqwnd
									</p>
									
								</div>
							</div>
						</div>
			</div>
		</div>
	</div>
</div>