    
<div class="col-md-12">

  <div class="col-md-4">    

    <img src="http://via.placeholder.com/350x350" class="avatar">
  
    <button> Browsing Files </button>

  </div>

  <div class="col-md-8">    

    <input type=text>
    <textarea></textarea>
    
    <button>Update</button>
  
  </div>

</div>