<h1>user edit</h1>
<div class="container">
  <div class="avatar">
    <div class="row">
      <p>avatar</p>
      <p><%= image_tag(@user.avatar) %></p>
      <p>button-to-update-avatar-by-gem</p>
    </div>
  </div>
  <div class="editing">
    <div class="row">
      <p>type area for name</p>
      <p>type area for introduction</p>
      <p>button-to-update-and-render-to-this-page</p>
    </div>
  </div>
</div>