<% if @user.errors.any? %>
  <h2>We have some errors here.</h2>
  <ul>
    <% @user.errors.full_messages.each do |msg|%>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :name, 'Name' %>