<%=  form_for @user do |f| %>
<div class="form-group">
<%= image_tag @user.avatar , style:"width:300px;height:300px;display: block;" if @user.avatar?  %>
<%= f.label :avatar, "大頭照上傳" %>
<%= f.file_field :avatar %>
</div>

<div class="field proedit">

<input autofocus="autofocus" type="text" class="form-control" placeholder="Name" name="user[name]" id="user_name">
<br>
<textarea class="form-control" rows="6" autofocus="autofocus" type="text" placeholder="Type anything about you here...." name="user[introduction]" id="user_introduction"></textarea>



</div>
<br>
<div class="field proedit">
<input type="submit" name="commit" value="Update" data-disable-with="Update" class ="btn btn-primary">
</div>


<% end %>
