<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :introduction %>
    <%= f.text_area :introduction %>

    <%= f.submit 'Update' , :class =>"btn btn-primary" %>
  </div>
<% end %>
