<div class="row">
  <div class="col-md-4">
    <%= render partial: "shared/user-profile", locals: {user: @user} %>
  </div>

  <div class="col-md-8">
    <h1>Following</h1>
    <div class="col-md-6">
      <%= render partial: "shared/user", locals: {users: @followings}%>
    </div>
  </div>
</div>
