<div class="show-user-profile-page">
  <div class="user-profile">
    <%= render partial: "shared/profile", locals: { user: @user } %>
  </div>

  <div>
    <h3>Follower</h3>
    <div class="user-follow-page">
      <% @followers.each do |follower| %>
        <%= render partial: "shared/users", locals: { user: follower.user } %>
      <% end %>
    </div>
  </div>
</div>
