<div class="container">
  <div class="row">
    <%= render :partial => "shared/userColunm" %>
    <h1> Follower</h1>
    <div class="col-md-8 followers">

      <% @followers.each do |follower| %>
      <div class="panel panel-default clearfix col-md-5 followingsColumn">
        <%= follower.name %> <br>
        <%= follower.introduction %> <br>
        <div class="popularBtn ">
          <%= render partial: "shared/follow", locals: {user: follower} %>
        </div>      
      </div>
      <% end %> 
      
    </div>
    
    
  </div>
  
</div>