<div class="container">

  <!-- user info panel -->
  <div class="col-sm-3">
    <%=render partial: "/common/dashboard", locals:{user: @user}%>
  </div>


<!-- user's tweets -->
  <div class="col-sm-9">
    <!-- userlist wall-->
    <h2>Follower</h2>
    <%= render partial: "common/userlistwall", locals:{users: @followers} %>
  </div>

</div>