<div class="container">
  <h1>Followers</h1>
  <ul>
  <%= render partial: "shared/profile", locals: { user: @user } %>

  <% @followers.each do |follower| %>
    <%= render partial: "shared/follow", locals: { user: @followers } %>
  <% end %>
  </ul>
  <%= render partial: "shared/backhome" %>
</div>
