<div class="container">
  <div class="index">
    <%= render partial: "share/user_item", locals: {user: @user, tweet_class: '', following_class: 'active', follower_class: '', like_class: ''} %>
    <div class="follow-wall">
      <h2>Following</h2>
      <% @followings.each do |user| %>
        <%= render partial: "share/user_item_sm", locals: {user: user} %>
      <% end %>
    </div>
  </div>
</div>