<h1>user followings</h1>
<div class="container">
  <div class="portfolio">
    <div class="row">
      <%= render partial: "shared/portfolio" %>
    </div>
  </div>
  <div class="following">
    <div class="row">
      <p>Following</p>
      <p>list of following</p>
    </div>
  </div>
</div>