<div class="row">
  <div class="col-md-3">
    <%= render partial: "shared/user_profile" %>
  </div>

  <div class="col-md-offset-1 col-md-8">
    <h2>Follower</h2>
    <% @followers.each do |follower| %>
      <div class="col-md-6">
        <%= render "shared/user_follow", :user => follower %>
      </div>
    <% end %>
  </div>
</div>
