<div id="follow" class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: "shared/info", locals: { user: @user} %>
    </div>
    <div class="col-md-9">
      <h3 class="title">following</h3>
      <div class="row clearfix">
        <% @followings.each do |f| %>
          <div class="col-md-6">
            <%= render partial: "shared/user_follow", locals: { user: f} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
