<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= render partial: "shared/userinfo", locals: {user: @user} %>
    </div>
    <div class="col-md-8">
      <h3></strong>Following</h3>
        <%= render partial: "shared/followlist", locals: {object: @followings} %>
      </ul>
    </div>
  </div>
</div>
