
<%= render partial: "shared/profile", locals: { user: @user } %>
<h1>Followers</h1>
<% @followers.each do |follower| %>
  <%= render partial: "shared/follow", locals: { user: follower } %>
<% end %>
