<h1>Followings</h1>

<ul>

  <% @followings.each do |following| %>
    <li>
      <%= render partial: "shared/profile", locals: { user: following} %>
        <%= render partial: "shared/follow", locals: {user: following} %>
    </li>
  <% end %>

</ul>

<%= render partial: "shared/backhome" %>
