


<div class="container">
  <div class="row">

    <%= render partial: "share/userdetails", locals: {user: @user} %>
    <div class="col-sm-8"> 

      <% @followers.each do |follower| %>
        <div class="tweet-item">
         <div class="tweet-item">
            <%= image_tag follower.avatar, class: "img-responsive center-block" %>
            <div class="caption">
              <h3><%= link_to follower.name, tweets_user_path(follower) %></h3>
            </div>
          </div>
        </div>
      <% end %>
    </div> 




      
  </div>
</div>