<div class="container">
    <div class="col-md-3">
      
        <%= render partial: "shared/profile", locals: {user: @user} %>
     
    </div>
    <div class="col-md-9">
     <div class='row'>
      <h2>Followings</h2>
      
        <% @followings.each do |following| %>
         <div class="user-list-box col-sm-6 col-md-4">
          <%= render partial: "shared/userlist", locals: {follow: following} %>
       </div>
        <% end %>
      
      </div>
    </div>
</div>