<h1>user followers</h1>
<div class="container">
  <div class="portfolio">
    <div class="row">
      <%= render partial: "shared/portfolio" %>
    </div>
  </div>
  <div class="follower">
    <div class="row">
      <p>Follower</p>
      <p>list of followers</p>
    </div>
  </div>
</div>