<div class="row">
  <div class="col-md-3">
    <%= render partial: "shared/profile", locals: { user: @user} %>
  </div>
  <div class="col-md-8 col-md-offset-1">
    <%= render partial: "shared/user_group", locals: { users: @followers, user_title: "Follower"} %>
  </div>
</div>
