<div class="row">
  <div class="col-xs-3">
    <%= render partial: "shared/profile", locals: { user: @user} %>
  </div>
  <div class="col-xs-8 col-xs-offset-1">
    <%= render partial: "shared/user_group", locals: { users: @followings, user_title: "Following"} %>
  </div>
</div>
