<div class="container">
  <div class="row">
    <%= render partial: "shared/portfolio", locals: { user: @user } %>
  </div>

  <!-- 顯示該使用者的followers -->
  <div class="pertweet">
    <%= render partial: "shared/others", locals: { others: @followers } %>
  </div>
</div>