
    <div class="col-md-3">
      
        <%= render partial: "shared/profile", locals: {user: @user} %>
     
    </div>
    <div class="col-md-9">
     <div class='col-xs-6'>
      <h2>Followings</h2>
        <% @followings.each do |following| %>
          <%= render partial: "shared/userlist", locals: {follow: following} %>
        <% end %>
      </div>
    </div>
