<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<%= render partial: "shared/userProfile.html.erb", locals: {user: @user}%>
		</div>
		<div class="col-md-10">
			<h3>Followings</h3>
			<%- @followings.each do |following| %>
				<%= render partial: "shared/followships.html.erb", locals: {user: following}%>
			<% end %>
		</div>
	</div>
</div>
