<div class="container">
  <%= render partial: "shared/info", locals: {user: @user} %>
  <div class="row">
    <div class="follow col-sm-8"">
      <%= render partial: "shared/followcard", locals: {users: @followings} %>
    </div>
  </div>
</div>   