<h1>Following</h1>

<% @followings.each do |following| %>
  <ul>
    <li><%= image_tag following.avatar, width:"100px" %></li>
    <li><%= link_to following.name, tweets_user_path(following) %></li>
    <li><%= following.introduction %></li>
    <%= render partial: "shared/follow", locals: { user: following } %>
  </ul>
<% end %>
