<div class="show-user-profile-page">
  <div class="user-profile">
    <%= render partial: "shared/profile", locals: { user: @user } %>
  </div>

  <div>
    <h3>Follower</h3>
    <div class="user-follow-page">
      <%= render partial: "shared/users", locals: { users: @followers } %>
    </div>
  </div>
</div>
