<div class="row">

  <div class="col-md-3">
    <%= render "shared/profile", user: @user %>
  </div>
  
  <div class="col-md-8 col-md-offset-1">
    <h2>Followings</h2>

    <% @followings.each do |user| %>
      <div class="col-md-6">
        <%= render "shared/persona", user: user %> 
      </div>
    <% end %>
  </div>

</div>