<div class="container">
  <div class="row">


    <!-- user's info -->
    <div class = "col-md-5">
      <%= render partial: "shared/userinfo", locals: {user: @user} %>
    </div>

    <!-- Other user's info -->
    <h3 class="header-item-2">Following</h3>
    <br>
    <div class = "col-md-6">
      <% @followings.each do |following| %>
        <div class = "col-md-6">
          <%= render partial: "shared/userblock", locals: {user: following, long_block: false} %>
        </div>
      <% end %>
    </div>

  </div>
</div>