<%= render partial: 'shared/person-info' %>

<div class="col m8 s8">
  <div class="person-tweets">
    <h3>Follower</h3>
    <% if @user.followers.count > 0  %>
      <% @followers.each do |follower| %>
        <div class="col m6 s6">
          <%= render partial: 'shared/sort-users', locals: {user: follower} %>
        </div>
      <% end %>
    <% else %>
      <hr class="divide">
      <h1>QQ, no followers at present.</h1>
    <% end %>
  </div>
  
  <div class="center">
    <%= paginate @followers %>
  </div>
</div>