<div class="col-md-12">

  <div class="col-md-4">    

    <img src="http://via.placeholder.com/350x350" class="avatar">
    <div>Username</div>
    <div>Userdescription </div>

    <a href="#">Tweet 32</a>
    <a href="#">Following 32</a>
    <a href="#">Follower 32</a>
    <a href="#">Like 32</a>

    <button> Follow </button>

  </div>

  <div class="col-md-8">    

    <h3>Following</h3>
      <div class="Following-item">
        <img src="http://via.placeholder.com/80x80" class="avatar">
        <a href="#"> @username </a>, <span class="time"> time </span>
        <div class="descript"> user info </div>
        <button>Unfollow</button>
      </div>
   
  
  </div>

</div>