<div class="row">
  <!-- user profile -->
  <div class="col-xs-3">
    <%= render partial: "shared/user_data" %>
  </div>

  <!-- Followers -->
  <div class="col-xs-9">
    <h1>Followers</h1>
    <div class="row">
      <% @followers.each_with_index do |follower, i| %>
        <div class="col-xs-6">
          <%= render partial: "shared/user_card", locals: {user: follower} %>
        </div>
        <% if i.odd? %>
          <div class="clearfix hidden-xs"></div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>