<div class="col-md-3">

  <%= render partial: "shared/profile", locals: {user: @user} %>

</div>


<div class="col-md-9">
  <div class='row'>
  <h2>Followers</h2>
  
  <% @followers.each do |follower| %>
     
          <%= render partial: "shared/userlist", locals: {follow: follower} %>
     
    <% end %>
  </div>
</div>
