<div class="row justify-content-center mt-5">
  <div class="col-sm-3 col-12">
    <%= render 'shared/user_profile' %>
  </div>
  <div class="col-sm-9 col-12">
    <h3>Following</h3>
    <div class="row">
    <% @followings.each do |following| %>
      <div class="col-lg-6">
        <%= render partial: "shared/user_card", locals: {user: following} %>
      </div>
    <% end %>
    </div>
  </div>
</div>
