<div class="container">

  <!-- user info panel -->
  <div class="col-sm-3">
    <%=render partial: "/common/dashboard", locals:{user: @user}%>
  </div>


<!-- user's tweets -->
  <div class="col-sm-9">
    <!-- userlist wall-->
    <h2>Following</h2>
    <!--- 測試是否有照追蹤時間排序
    <% if false %>
    <% @followings.each do |following|%>
      <p>
        name: <%=following.name%> <br>
        follwing date: <%= @user.following_date(following) %>
      </p>
      <hr>
    <%end%>
    <%end%>  -->
    <%= render partial: "common/userlistwall", locals:{users: @followings} %>
  </div>

</div>