<div class="container">
  <div class ="col-md-5" >
    <h1>Followers</h1>
    <ul>
    <%= render partial: "shared/profile", locals: { user: @user } %>
  </div>
  <div class ="col-md-7" >
  <% @followers.each do |follower| %>
    <%= render partial: "shared/userlist", locals: { user: follower } %>
  <% end %>
  </div>

</div>
<%= render partial: "shared/backhome" %>
