<div class="container">
  <div class="row">

    <!-- 以下是會顯示該為使用者的名字及描述 -->
    <div class="col-xs-3">
      <%= render partial: "shared/user", locals: {user: @user} %>
    </div>

    <!-- 顯示 like 所點選 Tweet 的推播 -->
    <div class="col-xs-8 col-xs-offset-1">
    	<h1 class="tw">Like</h1>
    	<% @likes.each do |tweet| %>
    		<%= render partial: "shared/tweet", locals: {tweet: tweet} %>
    	<% end %>
    </div>
    
  </div>
</div>