<div class="container" id="index">
  <div class="col-md-3 ">
    <%= render partial: "shared/index", locals: { user: @user} %>
  </div>

  <h3 class="title">like</h3>
  <div class="row ">
    <div class="col-md-8">
      <% @likes.each do |like| %>
      <%= render partial: "shared/tweet", locals: { tweet: like} %>
      <% end %>
    </div>
  </div>
</div>



