<div class="container">

  <!-- user info panel -->
  <div class="col-sm-4">
    <%=render partial: "/common/dashboard", locals:{user: @user}%>
  </div>


<!-- user's tweets -->
  <div class="col-sm-8">
    <h2>Like</h2>
    <!-- user tweetswall -->
    <div class="tweetswall">

      <%@likes.each do |like| %>
      <%= render partial: "common/tweet_item", locals:{tweet: like.tweet} %>
      <%end%> 

    </div>
  </div>

</div>