<div class="container user_likes">
  <div class="row">
    <div class="col-3">
      <%= render :partial => "shared/profile", locals: {user: current_user} %>
    </div>

    <div class="col-9">
        <% @likes.each do |tweet| %>
          <div>
            <%= render :partial => "shared/tweet_list", locals: {tweet: tweet} %>
          </div>
        <% end %>        
    </div>
  </div>
</div>