<div class="content col-md-4">
  <%= render partial: "shared/profile" %>
</div>
<div class="content col-md-8">
  <% @likes.each do |like|%>
    <div class="media">
      <%= image_tag like.user.avatar , class: "align-self-center mr-3 avatar rounded"%>
      <%= render partial: "shared/tweet", locals:{tweet: like} %>
    </div>
  <% end %>
</div>