<div class="container">
  <h1>Like Page</h1>

  <div class="row">
    <%= render partial: "shared/user_data" %>  

    <div class="col-7">
      <% @likes.each do |tweet| %>
        <%= render partial: "shared/tweet_view", locals: {tweet: tweet} %> 
      <% end %>
    </div>

  </div>

</div>