<div class="container">
  <div class="row">


    <!-- user's info -->
    <div class = "col-md-5">
      <%= render partial: "shared/userinfo", locals: {user: @user} %>
    </div>


    <!-- likes tweets -->
    <div class = "col-md-6">
      <% @likes.each do |tweet| %>
        <%= render partial: "shared/tweets", locals: {tweet: tweet, admin: false} %>
      <% end %>
    </div>
  </div>
</div>