<%= render partial: "shared/user_profile", locals: {profile: @user} %>

<div class= "col-md-8">
  <h4>Like</h4>
  <% @likes.each do |like| %>
    <%= render partial: "shared/tweet_format", locals: {profile: like} %>
    <%= render partial: "shared/like_button", locals: {profile: like} %>
  <% end %>
</div>