    <div class="row">

      <div class="col-md-4 col-sm-12">
        <%= render partial: "shared/profile", locals:{user: @user}%>

      </div>

      <div class="col-md-8 col-sm-12">

      <div class="divtitle"><h3>Likes</h3></div>

      <% @likes.each do |t| %>
      <%= render partial: "shared/onetweet" , locals:{t: t}%>
      <%end%>

      </div>


    </div>