<div class="container">
  <div class="row">
    <%= render partial: "shared/portfolio", locals: { user: @user } %>
  </div>

  <!-- 顯示該使用者的likes -->
  <div class="pertweet">
    <% @likes.each do |like| %>
      <div class="col-sm-12 col-md-8 user-relative">
        <div class="following-tweets">
          <%= render  "shared/tweet", object: like %>
        </div>
        <hr>
      </div>
    <% end %>
  </div>
</div>