<div class="container">
  <div class="row">
    
    <div class="col-md-4">
      <%= render partial: "shared/user", locals: {user: @user} %>
      <%= render partial: "shared/follow", locals: {user: @user} %>
    </div>

    <div class="col-md-8">
      <h3>Like</h3>

      <% @likes.each do |like| %>
        <div class="like-item">

          <h4><%= like.user.name %></h4>
          <p><%= simple_format like.description %></p>

        </div><!-- like-item -->
      <% end %>

    </div><!-- col-md-8 -->

  </div>
</div>