<div class="container">
  <div class="row">

    <div class="col-md-3 user-profile">
      <ul>
        <%= render partial: "shared/user_profile", locals: {user: current_user} %>
        <li>
          <%= link_to "Edit Profile", edit_user_path(current_user), class: "btn btn-primary btn-md" %>
        </li>
      </ul>
    </div>

    <div class="col-md-8">
      <h2>Like</h2>
      <% @likes.each do |like| %>
        <%= render partial: "shared/tweet", locals: {tweet: like.tweet} %>
      <% end %>
    </div>

  </div>
</div>