<div class="row">
  <div class="col-xs-3">
    <%= render partial: "shared/profile", locals: { user: @user} %>
  </div>
  <div class="col-xs-8 col-xs-offset-1">
    <div class="tweets col-xs-12">
      <h3>Likes</h3>
      <% @likes.each do |tweet| %>
        <%= render partial: "shared/msg", locals: {msg: tweet, msg_content: tweet.description, msg_btn: true} %>
      <% end %>
    </div>
  </div>
</div>