<div class="container">

  <h1>Likes</h1>
  <%# render 'shared/profile', locals: { user: @user} %>
  <!-- user info panel -->
  <div class="col-xm-4">
    <%=render partial: "/shared/profile", locals:{user: @user}%>
  </div>

  <ul>
    <!-- user's tweetwall -->
        <% @likes.each do |tweet| %>
         <%= render partial: "shared/message", locals: {message: tweet, message_content: tweet.description, message_btn: true} %>
        <% end %>

  </ul>
  <%= render partial: "shared/backhome" %>
</div>
