<h1>user likes</h1>
<div class="container">
  <div class="portfolio">
    <div class="row">
      <%= render partial: "shared/portfolio" %>
    </div>
  </div>
  <div class="like">
    <div class="row">
      <p>Like</p>
      <p>list of liked tweets</p>
    </div>
  </div>
</div>