<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="">
        
        <div class="col-md-3 col-sm-4">
          <div class="text-center">
            <img src="https://api.fnkr.net/testimg/200x200/00CED1/FFF/?text=img+placeholder">
          </div>
        <h2><%= @user.name %></h2>
        <p><strong><%= @user.email %></strong></p>
        <div><%= simple_format @user.introduction %></div>
        <% if @user.email == current_user.email %>
          <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-info" %>
          <% end %>

        </div>
      <div class="col-md-9 col-sm-8">
        
      </div>
      </div>

    </div>
  </div>
</div>