<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="col-left col-sm-4 col-md-3">
        <%= render partial: "users/user", locals: {user: @user}  %>
      </div>

      <div class="col-right col-sm-8 col-md-9">
        <% @user.tweets.each do |tweet| %>
        <div class="tweet-list">
          <div class="avatar">
            <img src="http://via.placeholder.com/50x50"></a>
          </div>
          <div class="tweet-content">
            <h5><%= tweet.user.name %> <em>,<%=time_ago_in_words(tweet.created_at) %> ago </em></h5>
            <p><%= tweet.description %></p>
            <br>

          </div>

        </div>
        <% end %>
        
      </div>


    </div>
  </div>
</div>