  
  <div class="row">
    <div class="col-md-4">
      <%= render partial: "shared/user_profile" %>    
    </div>
    
    <div class="col-md-8">
      <div class="tweets col-xs-12">
      <%= render partial: "shared/tweets"%>
      </div>
    </div>

  </div>



  