<div class="col-md-12">

  <div class="col-md-4">    

    <img src="http://via.placeholder.com/350x350" class="avatar">
    <div>Username</div>
    <div>Userdescription </div>

    <a href="#">Tweet 32</a>
    <a href="#">Following 32</a>
    <a href="#">Follower 32</a>
    <a href="#">Like 32</a>

    <button> Follow </button>

  </div>

  <div class="col-md-8">    

      <div class="tweet-item">
        <img src="http://via.placeholder.com/80x80" class="avatar">
        <a href="#"> @username </a>, <span class="time"> time </span>
        <div class="content">tweet content</div>
        <a href="#">Reply(2)</a> <span class="like-info">like(2)</span>
      </div>
    
      <div class="tweet-item">
        <img src="http://via.placeholder.com/80x80" class="avatar">
        <a href="#"> @username </a>, <span class="time"> time </span>
        <div class="content">tweet content</div>
        <a href="#">Reply(2)</a> <span class="like-info">like(2)</span>
      </div>

      <div class="tweet-item">
        <img src="http://via.placeholder.com/80x80" class="avatar">
        <a href="#"> @username </a>, <span class="time"> time </span>
        <div class="content">tweet content</div>
        <a href="#">Reply(2)</a> <span class="like-info">like(2)</span>
      </div>
  
  </div>

</div>