<% if @user == current_user %>
  Edit Profile
<% else %>
  Follow
<% end %>

<% @tweets.each do |tweet| %>
  <hr>
  <div class="col-sm-6 col-md-4">
    <div class="tweet-item">
      <div class="caption">
        <%= link_to @user.name, tweets_user_path(tweet.user) %>
        <%= time_ago_in_words(tweet.created_at) %> ago
        <p><%= truncate(tweet.description, length: 80) %></p>
      </div>
    </div>
  </div>
<% end %>