<div class="container">
  <div class="row">


    <!-- user's info -->
    <div class = "col-md-5">
      <%= render partial: "shared/userinfo", locals: {user: @user} %>
    </div>


    <!-- user's tweets -->
    <div class = "col-md-6">
      <%= render partial: "shared/tweets", locals: {tweets: @tweets} %>
    </div>
  </div>
</div>