 
<% if current_user.avatar? %>
    <%=  image_tag current_user.avatar,  width: '20px' ,class: " nav-link img-thumbnail img-fluid mb-3 " %>
  <% else %>
    <i class="fas fa-user fa-2x img-thumbnail" ></i>
 <% end %>
<h2><%= @user.name %></h2>
  <%= @user.introduction %>
<% if @user == current_user %>
  <%= link_to "Edit porfile", edit_user_path(@user), class: "btn btn-primary" %>
  <% end %>