<!-- 任何登入使用者都可以瀏覽特定使用者的以下資料 -->

<div class="row">
  <div class="col-md-3">
    <%= render partial: "shared/user_profile" %>
  </div>

  <div class="col-md-offset-1 col-md-8">
    <h2>Tweet</h2>
    <%= render partial: "shared/tweets" %>
  </div>
</div>


