<div class="container user_tweets">
  <div class="row">
    <div class="col-3">
      <%= render :partial => "shared/profile", locals: {user: @user} %>
    </div>

    <div class="col-9">
      <% @user.tweets.each do |tweet| %>
        <%= render :partial => "shared/tweet_list", locals: {tweet: tweet} %>
      <% end %>
    </div>
  </div>  
</div>