<div class="row">
  <div class="col-md-3">
    <%= render partial: "shared/profile", locals: { user: @user} %>
  </div>
  <div class="col-md-8 col-md-offset-1">
    <div class="tweets col-md-12">
      <% @tweets.each do |tweet| %>
        <%= render partial: "shared/msg", locals: {msg: tweet, msg_content: tweet.description, msg_btn: true} %>
      <% end %>
    </div>
  </div>
</div>
