<div class="row justify-content-center mt-5">
  <div class="col-sm-3 col-12">
    <%= render 'shared/user_profile' %>
  </div>

<div class="col-sm-9 col-12">
    <div id="tweets-list">
      <% @tweets.each do |tweet| %>
        <%= render partial: "shared/tweet_card", locals: {tweet: tweet} %>
      <% end %>
    </div>
  </div>
</div>