<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="col-md-4">
        <h1>使用者</h1>
      </div>

      <div class="col-md-8">
        <% if current_user %>
          <%= render partial:"shared/tweet_content" %>
        <% end %>
      </div>
    </div>
  </div>
</div> 




