<div class="container">
  
  <h1>使用者個人頁面</h1>

  <div class="row">
    
    <%= render partial: "shared/user_data" %>  
  
    <div class="col-7">
      <%= render partial: "shared/tweet_view", locals: {tweets: @user.tweets} %>     
    </div>

  
  </div>

</div>