<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="">
        <img src="http://via.placeholder.com/90x90" class="img-responsive img-rounded">
      </div>
      <div>  
           <h3> name: </h3><br>
            Tweets.size: <br>
            Following.size: <br>
            Followers.size: <br>
            likes.size: 
      </div>  
        <p><%= link_to 'Edit Profile', edit_user_path(current_user), class: "btn btn-primary" %></p>
      
      
      
    </div>

    <div class="col-md-8">

      <h1>顯示自己的推特</h1>              
        <div class="row">
          <div class="col-md-3">
            <img src="http://via.placeholder.com/90x90" class="img-responsive img-rounded">
          </div>
          <div class="col-md-8">
          <ul>
            <li>name, create_time</li>
            <li>description</li>
            <li><button>reply</button> <button>unlike%like</button></li>
          </ul>
          </div>
        </div>          
        <hr>    
      
    </div>
  </div>
</div>