<div class="row">
  <div class="col-xs-3">
    <%= render partial: "shared/user_profile",locals: { user: @user} %>
  </div>

  <div class="col-xs-8 col-xs-offset-1">
    <div class="speak  col-xs-12"">
      
      <% @tweets.each do |tweet| %>
        <%= render partial: 'shared/master',locals: {tweet: tweet, tweet_des: tweet.description, tweet_time: tweet.created_at }%>
      <% end %>
    
    </div>


 



  </div>



</div>