<section class="tweet-static">
  <div class="col-md-4">
    <%= render 'shared/user_stats', user: @user %>
  </div>
  <div class="col-md-8">
    <%= render 'shared/tweets',  objects: @tweets %>    
  </div> 
</section>>
