<div class="container">
  <div class="row">
    <%= render partial: "share/user_profile", locals: {obj: @user, like_count: @like_count} %>
    <div class="col-xs-8">
      <%= render partial: "share/tweet", locals: {tweets: @tweets} %>
    </div>
  </div>
</div>

