<div class="show-user-profile-page">
  <div class="user-profile">
    <%= render partial: "shared/profile", locals: { user: @user } %>
  </div>


  <div class="users-own-tweets">
    <% @tweets.each do |tweet| %>
      <%= render partial: "shared/tweets", locals: { tweet: tweet } %>
    <% end %>
  </div>
</div>
