<div class="container-fluid">
  <div class="row">
    
    <!-- Left: user profile /start -->
    <%= render partial: "shared/userprofile", locals: {user: @user} %>
    <!-- Left: user profile /end -->

    <!-- Right: Tweet List /start -->
    <div class="col-md-8">

      <!-- tweets /start-->
      <%= render partial: "shared/tweets", locals: {tweets: @tweets} %>
      <!-- tweet /end-->

    </div>
    <!-- Right: Tweet List /end -->

  </div>
</div>