<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="col-md-12">
        <%= render 'shared/user_profile', user: @user %>
      </div>
    </div>
    <div class="col-md-9">
      <h2>Tweets</h2>
        <% @tweets.each do |tweet| %>
          <div class="col-md-12 border">
            <%= link_to tweet.user.name, tweets_user_path(tweet.user.id) %>
            <br>
            <%= tweet.description %>
          </div>
        <% end %>
    </div>
  </div>
</div>