<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-4">
     <%= render partial: "shared/userProfile", locals: {user: @user} %>
    </div>
    <div class="col-md-8 col-sm-8">
      <% @tweets.each do |tweet| %>
       <%= render partial: "shared/tweetRecord", locals: {tweet: tweet} %>
      <% end %>
    </div>
  </div>
</div>

