<h1><%=  @user.name %></h1>

<div class="container">
  <%= render partial: "shared/info", locals: {user: @user} %>


  <div class="row">
    <%= render partial: "shared/post", locals: {tweets: @tweets} %>
  </div>

</div>    