<div class="row">
  <div class="col-xs-3">
    <%= render partial: "shared/user_profile",locals: { user: @user} %>
  </div>

  <div class="col-xs-8 col-xs-offset-1">
    <div class="speak  col-xs-12"">
      <h1>Tweets</h1>
      <% @tweets.each do |tweet| %>
        <%= render partial: 'shared/master',locals: {tweet: tweet}%>
      <% end %>
    
    </div>






  </div>



</div>