<%= render partial: "shared/user_profile", locals: {profile: @user} %>

<div class="col-md-8">
  <% @tweeted_tweets.each do |tweet| %>
    <div class="individual-item">
      <%= render partial: "shared/tweet_format", locals: {profile: tweet} %>
    </div>
  <% end %>
</div>