<h1>user tweets</h1>
<div class="container">
  <div class="portfolio">
    <div class="row">
      <%= render partial: "shared/portfolio" %>
    </div>
  </div>
  <div class="pertweet">
    <div class="row">
      <p>all tweets</p>
      <% @tweets.each do |tweet| %>
      <p>@<%= tweet.user.name %></p>
      <p><%= tweet.description %></p>
      <% end %>
    </div>
  </div>
</div>