<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="col-md-12 col-sm-12">
        <%= render partial: "shared/user", locals: {user: @user} %>
      </div>
    </div>


    <div class="col-md-8">
      <% @tweeted.each do |tweet| %>
      <div class="tweets">
        <ul class="list-inline">
          <li class="list-inline-item"><h4><%= link_to "#{tweet.user.name}" , tweets_user_path(tweet.user)%></h4></li>
          <li class="list-inline-item"><em><%= time_tag(tweet.created_at) %></em></li>
        </ul>
        <p><%= simple_format tweet.description %></p>
      </div>
      <hr>
      <% end %>      
    </div>
  </div>
</div>