<div class="avatar">
              <%= image_tag avatar, size: "120" %>
</div>
 <div class="img" style="background:url(avatar.jpeg) no-repeat;">
   <img src="avatar.jpeg" style="opacity:0"/>
   </div>
