 <nav aria-label> <!--回到首頁-->

    <ul class="pager">
      <%= link_to 'HOME',  root_path, method: :get %><span class="glyphicon glyphicon-home"></span></a>

      <%= link_to "Back", :back %><span class="glyphicon glyphicon-triangle-left"></span>
  </nav>
