<div class=<%= "#{class_name}" %>>
  <span><%= title %></span>
  <button type="button" class="collapsed panel-toggle" data-toggle="collapse" data-target=<%= "##{collapse_target}" %> aria-expanded="false">
    <span class="glyphicon glyphicon-triangle-bottom"></span>
  </button>  
</div>