<div class="user-name">
  <strong>
    <%= link_to "@#{object_time.user.name}", tweets_user_path(object_time.user), :alt => "Who is this?" %>
  </strong>
  <em>,
    <%= object_time.created_at.strftime("%Y-%m-%d") %>,
    <%= object_time.created_at.strftime("%I:%M%p") %>
  </em>
</div>