  <div class="col-md-4">
    <%= render partial: "shared/avatar", locals: {avatar: user.avatar} if user.avatar? %>
  </div>
  <div class="col-md-8">
    <%= link_to user.name, tweets_user_path(user) %><br/>
    <%= truncate user.introduction, length: 80 %>
  </div>

