<% if tweet.is_liked?(current_user) %>
<div class="inline">
 <%= link_to unlike_tweet_path(tweet),method: :post, class: "address address-red" do %>
   unlike(<%= tweet.likes.count %>)
   <% end %>
 </div>
 <% else %>
  <div class="inline">
    <%= link_to like_tweet_path(tweet), method: :post, class: "address address-red" do %>
    likes(<%= tweet.likes.count %>)
    <% end%>
  </div>
<% end %>