<%if like==false%>
<div title="按讚！"><i class="fa fa-gratipay fa-lg"></i><%=tweet.likes_count%></div>
<%else%>
<div title="收回讚"><i class="fa fa-gratipay fa-lg"></i><%=tweet.likes_count%></div>
<%end%>

