        <div class="card" style="margin-bottom: 1px;">
          <div class="card-block">
 
            <div class="tweet-avatar">
              <div class="card-pic-width">
                <div class="card-pic-height">
                  <div class="card-pic-position">
                    <%= link_to image_tag(t.user.avatar, {onerror:"this.src='/man.jpg';", class:"card-picture"}), tweets_user_path(t.user)%>
                  </div>
                </div>
              </div>
            </div>
 
            <div class="card-tittle">
              <div class="tweeter-name"><h5><%= link_to t.user.name, tweets_user_path(t.user), {class:"namelink"}%></h5></div>
              <p href="#" class="time-log pull-right"><%=time_ago_in_words t.updated_at %> ago</p>
              <hr>
            </div>
 
           
            <div class="card-text">
              <p><%= t.comment %></p>
            </div>
          </div>
        </div>