<div class="picture">
  <% if user.avatar? %>
    <%= image_tag user.avatar, width:"100px", class: "img-responsive center-block" %>
  <% else %>
    <%= image_tag "http://via.placeholder.com/200x200", width:"100px", class: "img-responsive center-block" %>
  <% end %>
</div>