<div class="profile">
  <div class="avatar">
    <%= image_tag user.avatar, size: "200" if user.avatar? %>
  </div>
  <p></p>
  <div class="intro">
    <%= user.introduction %>
  </div>
  <div class="items">
    <p>Tweets</p>
    <p>Following</p>
    <p>Follower</p>
    <p>Likes</p>
  </div>
  <div class="button">
    <%= link_to "Edit Profile", user_path(user) %>
  </div>
</div>