<% @replies.each do |reply| %>
  <div class="tweet-item">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag reply.user.avatar, class: "img-responsive" %>
      </div>
      <div class="col-md-9">
        <h5><%= link_to reply.user.name, tweets_user_path(reply.user) %>, <%= reply.created_at.strftime("%Y-%m-%d, %H:%M") %></h5>
        <%= simple_format reply.comment %>  
      </div>
             
    </div>
  </div>
<% end %>