<%= render partial: "shared/avatar", locals: {avatar: reply.user.avatar} if reply.user.avatar? %>
<div>
  <p>
    <%= reply.user.name %>
    <%= reply.created_at.strftime("%Y-%m-%d, %H:%M") %>
  </p>
  <p><%= simple_format(reply.comment) %></p>
</div>