
<div class="media-body">
  <h5 class="mt-0">
    <%= link_to "#{tweet.user.name} #{tweet.created_at}",tweets_user_path(tweet)%>
  </h5>
  <p>
    <%=tweet.description%>
  </p>
  <p class="mb-0">
    <%= link_to "Reply[#{ tweet.replies_count }]", tweet_replies_path(tweet) %>
    <%= link_to "Like [#{tweet.likes_count}]", like_tweet_path(tweet), method: :post, style: "color:red"%>
  </p>
</div>

    