<%= render partial: "shared/avatar", locals: {avatar: tweet.user.avatar} if tweet.user.avatar? %>
<div>
  <p>
    <%= tweet.user.name %>
    <%= tweet.created_at.strftime("%Y-%m-%d, %H:%M") %>
  </p>
  <p><%= tweet.description %></p>
</div>