<div class="row tweet-box">
  <div class="col-xs-3">
    <div class="tweet-avatar">
      <%= image_tag(tweet.user.avatar, class: "img-responsive center-block") %>
    </div>
  </div>
  <div class="col-xs-9">
    <p><%= "@#{tweet.user.name}, #{tweet.created_at}" %></p>
    <p><%= tweet.description %></p>
    <p><%= link_to "Reply", tweet_replies_path(tweet.id) %></p>
  </div>
</div>