<% @tweets.each do |tweet| %>
  <div class="tweet-content">
    <div class="col-md-offset-4">
      <div class="tweet-title">
        <%= tweet.user.name %>,
        <%= tweet.created_at.to_date %>,
        <%= tweet.created_at.strftime("%H:%M") %> 
      </div>
    </div>

    <div class="col-md-offset-4">
      <div class="tweet-description">
        <%= simple_format tweet.description %>
      </div>
    </div> 
  </div>
<% end %>

