<div class="pop-user">
  <div class="row">
    <div class="col-md-4">
      <%= filestack_image user.avatar %>
    </div>
    <div class="col-md-8">
      <%= link_to "@#{user.name}", tweets_user_path(user), class: "name" %>
      <p><%= user.introduction %></p>
      <div class="button-group">
        <% if user != current_user %>
          <%= render partial: "shared/follow", locals: { u: user} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
