
@import "bootstrap-sprockets";
@import "bootstrap";


* {
  font-family: Arial, Helvetica, sans-serif;
}
a:hover {
  text-decoration: none;
}

.form-color{
  
  border:2px #009FCC solid;
}
nav.navbar {
  background-color: #b1d2df;
}
.navbar-header{
  margin-top: 10px;
}

.brand {
  color: black;
  font-size: 3em;
  padding: 10px;
  margin-top: 15px;
  margin-left: 25px;
}
.navbar-nav {
  li {
   a.nav-avatar {
      padding: 10px;
      }
   
    a {
      padding: 25px 10px;
      font-size: 1.5em;
    }
  }
}

.my-btn {
  background-color: #71a6d0;
}

.my-btn:hover {
  background-color: lightblue;
}

.btn-lg {
  float: right !important;
}

.tweets-form {
  margin-bottom: 20px;
}

.row {
  padding: 20px;
}
.user-name {
  text-align: center;
  font-size: 3em;
  color:#007799;
}

.button{
  float: center !important;
}
.speak-item {
  border: 2px solid #888888;
  padding: 10px;
  margin-bottom: 15px;
}


.tweets-form {
  margin-bottom: 20px;
}
.address {
  font-size: 1.5em;
}
.address-link {
  color: black;
  font-size: 3em;

}
.reply-item >.address {
  color: blue ;
}


