// Place all the styles related to the followships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.follow, .unfollow {
  background-color: #87CEFA;
  color: #444444;
  font-weight: bold;
  height: 32px;
}

.follow:hover, .unfollow:hover {
  background-color: #87CEFA;
}

.unfollow {
  background-color: #8FDFFF;
}
