// Place all the styles related to the followships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.fix-height {
  min-height: 230px;
}

.following-btn {
  margin-bottom: 15px;
  margin-right: 10px;
}
