/* reset css */
html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a, a:hover, a:focus {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* common */

:root {
  --blue: #31A1F0;
  --lblue: #74A6CF;
  --lgrey: #A5A5A5;

}

header {
  background: var(--blue);
}

.container {
  width: 90%;
  margin: 0 auto;
}

nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  padding: 5px;
  align-items: center;
}

.fa-twitter {
  color: white;
}

#menu {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
}

.avatar-xs {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position:center;
  background-color: white;
  border-radius: 50%;
}

.avatar-xs a {
  display: block;
  width: 40px;
  height: 40px;
}

.img-circle {
    border-radius: 50%;
}

.logout-btn {
  color: white;
  font-size: 18px;
  font-weight: 600;
}


/* root index */

#root-index {
  display: grid;
  margin-top: 20px;
  grid-gap: 30px;
  grid-template-columns: 1fr 350px;
}

.tweet-form {
  display: grid;
  grid-template-columns: 1fr;
}

.tweet-form-textarea {
  width: 100%;
  resize: none;
  border: 2px solid var(--lblue);
}

.tweet-btn {
  justify-self: end;
  margin-top: 5px;
}

#tweet-wall {
  grid-template-columns: 1fr;
  padding: 10px;
}

.tweet-item, .user-item-sm, .reply-item {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 90px 1fr;
  grid-template-rows: 1fr;
  border: 2px solid var(--lgrey);
  margin-bottom: 10px;
  padding: 15px;
  min-height: 150px;
}

#popular-wall {
  grid-template-columns: 1fr;
}

.user-item-sm {
  grid-template-rows: 1fr auto-fit;
  min-height: 220px;
}

.avatar-sm {
  height: 90px;
  width: 90px;
  background-size: cover;
  background-position:center;
  align-self: start;
}

#tweet-wall .avatar-sm {
  align-self: center;
}

.follow-btn {
  grid-column: 1 / -1;
  justify-self: end;
}

/* index */

.index, #reply-index  {
  margin-top: 20px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 300px 1fr;
}

#user-item {
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.avatar-md {
  width: 280px;
  height: 280px;
  min-width: 170px;
  min-height: 170px;
}



/* edit user profile */

#edit-form {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 350px 1fr;
  margin-top: 20px;
}

#edit-avatar {
  padding: 10px;
}

.avatar-lg {
  width: 330px;
  height: 330px;
}

#edit-info {
  padding: 10px;
}


/* reply*/



/* admin */

.pagination {
  font-size: 16px;
}

.pagination span {
  padding: 10px;
}

.pagination a {
  display: inline-block;
  width: 20px;
}

.admin-wall, .admin-wall table {
  margin-top: 20px;
}

.tweets-table> tbody tr td:nth-child(n+4), 
.tweets-table th:nth-child(n+4) {
  text-align: center;
}

.users-table> tbody tr td:nth-child(n+3), 
.users-table th:nth-child(n+3) {
  text-align: center;
}



@media(max-width: 700px) {
  
  #root-index, .index, #reply-index, #edit-form {
    grid-template-columns: 1fr;
  }

  #user-item {
    flex-direction: row;
  }

  
}