*{position: relative;}
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(http://fonts.googleapis.com/css?family=Roboto:400);
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Permanent+Marker');
body {
  background-color:#e0e0e0;
  font: normal 14px;
  font-family: ‘Noto Sans TC’,Roboto,arial,sans-serif;
}
.navbar {background-color:#ffffff;border-width:0;z-index:5;}
.btn,.form-control,.panel,.list-group,.well {border-radius:1px;box-shadow:0 0 0;}
.form-control {border-color:#d7d7d7;}
.btn-primary {border-color:transparent;}
.btn-primary,.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {background-color:#4285f4;}
.btn-plus {background-color:#ffffff;border-width:1px;border-color:#dddddd;box-shadow:1px 1px 0 #999999;border-radius:3px;color:#666666;text-shadow:0 0 1px #bbbbbb;}
.well,.panel {border-color:#d2d2d2;box-shadow:0 1px 0 #cfcfcf;border-radius:3px;}
.btn-success,.label-success,.progress-bar-success{background-color:#65b045;}
.btn-info,.label-info,.progress-bar-info{background-color:#a0c3ff;border-color:#a0c3ff;}
.btn-danger,.label-danger,.progress-bar-danger{background-color:#dd4b39;}
.btn-warning,.label-warning,.progress-bar-warning{background-color:#f4b400;color:#444444;}

@media (min-width: 1200px){
  .container {
      width: 1180px;
      max-width: 100%;
  }
}

.card{
  border-color: #d2d2d2;
  box-shadow: 0 1px 0 #cfcfcf;
  border-radius: 3px;
  margin-bottom: 15px;
}
.card:first-child{
  margin-top: 15px;
}
.card .card-tittle {
 background-color:#ffffff;
 font-weight:700;
 font-size:16px;
 color:#262626;
 border-color:#ffffff;
}
.card .card-tittle .time-log{
 color: blue;
 font-weight:400;
 font-size:11px;
}
.card .img-circle {
 width:50px;
 height:50px;
}

hr {border-color:#ececec;margin-top: 10px;margin-bottom: 10px;}

.navbar{
  padding-left: 100px;
  padding-right: 100px; 
}
.pull-right{float: right!important;}
.pull-left{float: left!important;}

.alert_mes{
  display: inline-block;
}
.alert-dismissible .close{
  padding-bottom: 2px;
}
.alert{
  padding-bottom: 5px;
}

.margin-10-10{
  margin: 10px 10px;
}

.tweeter-name{
  margin-left: 62px;
  display: inline-block;
}
 
.tweeter-name h5{
  margin-bottom: 0;
}
 
.tweet-avatar{
  width:54px;
  position: absolute;
  top:15px;
  left: 20px;
  z-index: 1;
}
 
.profile-block-avatar{
  position: absolute;
  top:20px;
  left: 20px;
  width:27%;
  display: inline-block;
}
 
.card-pic-width{
  width: 100%;
  overflow: hidden;
}
 
.card-pic-height{
  padding-top: 75%;
  overflow: hidden;
}
 
.card-pic-position{
  width: 100%;
  height:100%;
  position: absolute;
  top:0;
  left: 0;
}
 
.card-picture{
  width: 100%;
  height:100%;
  object-fit: cover;
}
 
.card-text{
  font-size: 16px;
  padding: 0 10px;
}
 
.card-text p{
  margin-bottom: 0;
}
 
.card-description{
  width: 68%;
  display: inline-block;
  padding: 0 5px;
}
 
.text-align-right{
  text-align: right!important;
}
 
.text-align-left{
  text-align: left!important;
}

.divtitle{
  padding: 20px 0;
  font-family: 'Abril Fatface', cursive;
}