//攥寫自己的css.
.tweet-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
  
}

//edit page按鈕
.update-btn {
  float:right;
}

.avatar-image {
  height: 100px;
  width: auto;
}