.tweet {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 3px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.tweet .caption {
  padding: 10px;
}

[hidden] {
  display: none !important;
}

.avatar {
  float: left;
  margin-right: 10px;
}