/* utility */
.u-padding-top-40px{
  padding-top: 40px;
}
.u-padding-top-10px{
  padding-top: 10px;
}
.u-margin-top-40px{
  margin-top: 40px;
}
.inset {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  box-shadow:
    inset 0 0 0 2px rgba(255,255,255,0.6), 
    0 1px 1px rgba(0,0,0,0.1);
  background-color: transparent !important;
    margin: -10px;
}

.inset img {
  border-radius: inherit;
  width: inherit;
  height: inherit;
  display: block;
  position: relative;

}