.edit_user img {
  width: 250px;
  margin: 10px;
}

.user-avatar{
  width: 250px;
  margin: 10px;
}

.usertweet-avatar{
  margin: 5px;
  width: 70px;
  height: 70px;
  float: left;
}

.twpanel{
  min-height: 80px;
}

.ppanel{
  min-height: 160px;
}

.twuser{
  color:#666666;
}

h2{
  color:#008B8B;
}

h5{
  color:#4682B4;
}

h3{
  color:#4682B4; 
}

.movebtn{
  float: right;
}

.twnavbar{
  background-color:#ADD8E6;
}


.twnavbar-ul {
  font-size: 20px;
  color: #008B8B;
  margin-top: 10px;
}

.twnavbar-ul img {
  height: 40px;
  position:relative; top:-5px; left:0px;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 0px;
}