// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tweet-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.tweet-item-img {
  
}

.tweet-item .caption {
  padding: 0px, 10px;
}

.tweet-item h5 {
  color: #337ab7;
}
