// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 使用者介紹圖片、姓名、個人介紹置中
.center-size {
	text-align: center;
	font-size: 40px;
	color: darkolivegreen;
}

// 使用者介紹
.center-intro {
	font-size: 20px;
	color: blue;
}

// 使用者4個累計的設定
.number {
	font-size: 27px;
}

// 設定輸入個人名稱風格
.text-field {
 	font-size: 2em;
 	height: 1.8em;
 	border-radius: 5px;
 	padding: 10px;
 }