<h1>Hello ADMIN</h1>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% @users.each do |user|%>
      <div class="col-md-5">
          <div class="user-section">
            <div class="user-item clearfix">
              <div class="col-md-4">
              <div class="user-icon">
                <%= image_tag(user.avatar, class: "img-responsive center-block") %>
              </div>
            </div>
            <div class="col-md-8">
              <div class="user-caption">
                <p><%= link_to user.name, tweets_user_path(user) %></p>
                <p><%= truncate(user.introduction, length: 55) %><p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
