<div class="container">

  <ul class = "nav nav-tabs">
    <li role="presentation"><%=link_to "Tweets", admin_tweets_path %></li>
    <li role="presentation" class= "active"><%= link_to "Users", admin_users_path %></li>
  </ul>
  <br>
  <% @users.each do |user| %>
    <div class="user-list">
    <li><%= link_to user.name, user_path(user) %></li>
    <li><%= user.introduction %></li>
    <hr>
    </div>
  <% end %>


</div>