<h1>Admin User Index</h1>

<% @users.each do |user| %>
  <ul>
    <li><%= image_tag user.avatar, width: "100px"%></li>
    <li><%= user.name %></li>
    <li><%= user.tweets_count %></li>
  </ul>
<% end %>
