<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">ALPHACAMP Twitter 管理後台</h2>
      <hr>

      <ul class="nav nav-tabs">
        <li role="presentation">
          <%= link_to '推特列表', admin_tweets_path %>
        </li>

        <li role="presentation" class="active">
          <%= link_to '使用者列表', admin_users_path %>
        </li>
      </ul>

      <div class="admin-users-content">
        使用者列表
      </div>
    </div>
  </div>
</div>