<div class="userListWall clearfix"></div>
<% users.each do |user| %>
  <div class="col-xs-6 clearfix">
    <div class="col-xs-4"><%= image_tag user.avatar, class:"img-responsive" %></div>
    <div class="col-xs-8">
      <h4 class="userListItem-name">@<%= user.name %></h4> 
      <p class="userListItem-intro"><%= user.introduction %></p> 
      <%= render partial: "common/follow" ,locals:{user:user}%>
    </div>
  </div>
<%end%>
</div>
